* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(37, 34, 34);
    background-image: url(./img/darkbackground.jpg);
    background-size: cover;
    
    background-attachment: fixed;
    
}

header h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    color: rgb(203, 210, 213);

}

main {
    display: flex;
    padding: 2rem;
    justify-content: center;
    

    
}

.form_con {
    display: flex;
    flex-direction: column;
    background-color: rgb(123, 131, 135);
    margin: 1rem;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.formTitle {
    color: rgb(176, 186, 190);
}

.form_div {
    max-height: 18rem;
    background-color: rgba(0, 0, 0, .5 );

}

.form_div h2 {
    padding: 20px 10px 10px 10px;
}

#submit_btn {
    margin-top: 10px;
}

.contact_container {
    display: flex;
    
    background-color: rgba(0, 0, 0, .5 );
    flex-wrap: wrap;
    margin-left: 2rem;
    
}

.contact_container button {
    margin-top: 0.5rem;
    max-width: 5rem;
}

.contactCard {
    background-color: rgb(202, 208, 211);
    margin: 1rem;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;

} 


.update_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(139, 148, 152);
    width: 500px;
    max-width: 80%;
    display: none;
    
}





.form_header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.form_header .title {
    font-size: 1.25rem;
    
}

.form_header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size:1.25rem;
    font-weight: bold;
}

.form_update { 
    padding: 10px 15px;
}

#overlay {
height: 100vh;
position: fixed;
display: none;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, .5 );
pointer-events: none;
z-index: 1;
}

button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .5 );
}
